<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link th:href="@{/css/header.css}" rel="stylesheet"/>

<div th:fragment="header">
    <nav class="bigBox">
        <div class="header_inner">
            <div class="header_line00">
                <a class="header_member_link" sec:authorize="isAnonymous()" href="/members/login">로그인</a>
                <a class="header_member_link" sec:authorize="isAuthenticated()" href="/members/logout">로그아웃</a>
            </div>
            <div class="header_line01">
                <div class="header_section01">
                    <div class="header_logo"><a class="header_logo_link1" href="/">개발</a></div>
                    <p><a class="header_logo_link2" href="/">개발상점</a></p>
                </div>
                <div class="header_section02">
                    <form th:action="@{/}" method="get">
                        <input class="header_search" name="searchQuery" type="search" placeholder="검색어를 입력해주세요" aria-label="Search">
                        <button class="header_search_btn" type="submit">검색</button>
                    </form>
                </div>

            </div>
            <div class="header_line02">
                <div sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                    <a class="header_link" href="/admin/item/new">상품 등록</a>
                </div>
                <div sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                    <a class="header_link" href="/admin/items">상품 관리</a>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <a class="header_link" href="/cart">장바구니</a>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <a class="header_link" href="/orders">구매이력</a>
                </div>
            </div>
        </div>

    </nav>


</div>

</html>